<div class="div-block-36">
    <label class="w-checkbox checkbox-field-2">
        <div class="ch-box-style">
            <div class="ch-box-style active"></div>
        </div>
        <input type="checkbox" name="whatsup-2" id="whatsup-2" data-name="Whatsup 2" class="w-checkbox-input checkbox"><span class="checkbox-label w-form-label" for="whatsup-2">Telegram</span>
    </label>
    <label class="w-checkbox checkbox-field-2">
        <div class="ch-box-style">
            <div class="ch-box-style active"></div>
        </div>
        <input type="checkbox" name="whatsup-2" id="whatsup-2" data-name="Whatsup 2" class="w-checkbox-input checkbox"><span class="checkbox-label w-form-label" for="whatsup-2">Whatsup</span>
    </label>
    <label id="w-node-_885a2c74-07c8-814a-ad5b-a2314b5baf6c-1331f3c0" class="w-checkbox checkbox-field">
        <div class="ch-box-style">
            <div class="ch-box-style active"></div>
        </div>
        <input type="checkbox" name="whatsup-3" id="whatsup-3" data-name="Whatsup 3" class="w-checkbox-input checkbox"><span class="checkbox-label w-form-label" for="whatsup-3">Email</span>
    </label>
</div>